@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

html {
    font-family: 'Lora', serif;
    font-optical-sizing: auto;
    color: #3e3e3e;
}